body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}
h1 {
    color: blueviolet;
}
button {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}